/**
 * Main styles
 **/
.nt-btn {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
  color: @nt-white;
  font-size: 30px;
  line-height: 30px;
  height: 50px;
  padding: 10px;
  font-weight: 500;
  border-radius: 4px;


  &_grin{
	text-shadow: 0px -1px 0px rgba(0, 126, 18, 1);
	background-color: @nt-green;
	background-image: -moz-linear-gradient( 90deg, rgba(174,255,0,0) 0%, rgb(174,255,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(174,255,0,0) 0%, rgb(174,255,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(174,255,0,0) 0%, rgb(174,255,0) 100%);

	&:hover{
	  color: @nt-white;
	  background-color:#01cb1e;

	}
  }



  &_orange{
	text-shadow: 0px -1px 0px rgba(215, 106, 0, 1);
	background-color: @nt-orange;
	background-image: -moz-linear-gradient( 90deg, rgba(255,216,0,0) 0%, rgb(255,216,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(255,216,0,0) 0%, rgb(255,216,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(255,216,0,0) 0%, rgb(255,216,0) 100%);

	&:hover{
	  color: @nt-white;
	  background-color:#ffa22a;

	}
  }
}


/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}