/**
 * Main styles
 **/
.footer {
  background: #eaeaea;
  padding-top: 50px;
  height: 174px;
  overflow: hidden;

  &__container {
	.container();
  }

  &__row {
	.make-row();
  }

  &__col {
	.make-sm-column(6);

	&_right {
	  text-align: right;
	}
  }
  &__logo {
	display: inline-block;
	margin-bottom: 10px;
  }
  &__cop{
	display: inline-block;
	width: 100%;
	color: #8b8b8b;
	font-weight: 300;
	font-size: 11px;
	line-height: 24px;
  }

  &__phone{
	font-weight: 600;
	color: @nt-blue;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	margin-top: 22px;
	margin-bottom: 0;

	&:hover{
	  color: @nt-blue;
	}
  }

  &__cont{
	display: block;
	width: 100%;
	color: #8b8b8b;
	font-weight: 300;
	font-size: 12px;
	line-height: 12px;
	margin-top: 1px;
  }
}
/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}