<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__col">
                <a href="/" class="footer__logo">
                    <img src="./img/logo2.png" alt=""/>
                </a>
                <span class="footer__cop">Все права защищены. Компания "Навигатор" © 2010-2015г.</span>
            </div>
            <div class="footer__col footer__col_right">
                <a href="tel:+78126221616" class="footer__phone">+7 (812) 622-16-16</a>
                <span class="footer__cont">191123, Санкт-Петербург, Манежный переулок, д. 14</span>
            </div>
        </div>
    </div>
</footer>