<!--blocks-->
<div class="nt-screenshot">
    <div class=" wow fadeInUp" data-wow-delay="0.7s">
        <div class="nt-wrapper__container">
            <div class="nt-wrapper__row">
                <div class="nt-wrapper__col-2">
                    <div class="nt-screenshot__text">
                        Получайте доступ к Вашим данным из любой точки мира. С любого устройства.
                    </div>
                </div>
                <div class="nt-wrapper__col-2">
                    <div class="nt-screenshot__text">
                        Мы сделали администрирование системы значительно проще, чем на онлайн сервисах провайдеров.
                    </div>
                </div>
            </div>
            <div class="nt-wrapper__row">
                <div class="nt-wrapper__col-full">
                    <img src="./img/screenshot.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>