/**
 * Main styles
 **/
.nt-screenshot {
  background: @nt-white;
  padding-top: 105px;
  padding-bottom: 100px;

  &__text {
    max-width: 260px;
    margin: 0 auto 4px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}