<!--blocks-->
<nav class="nt-menu">
    <ul id="front-menu" class="nt-menu__list front-menu">
        <li class="nt-menu__list-item active">
            <a href="#What-Navitron" class="nt-menu__list-link">Что такое Navitron</a>
        </li>
        <li class="nt-menu__list-item">
            <a href="#tariff" class="nt-menu__list-link ">Тарифы </a>
        </li>
        <li class="nt-menu__list-item">
            <a href="#" class="nt-menu__list-link external">Как заказать?</a>
        </li>
    </ul>
</nav>