/**
 * Main styles
 **/
.nt-menu {

  &__list {
	.clearfix();
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
  }

  &__list-item {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	margin-left: 24px;

	&:first-child{
	  margin-left: 0;
	}

	&.active{
	  .nt-menu__list-link {
		color: @nt-blue;
	  }
	}
  }

  &__list-link {
	color: #5c5c5c;

	&:hover {
	  color: @nt-blue;
	}

	&.current {
	  color: @nt-blue;
	}

	&.external{
	  border-bottom: 2px dotted;
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}