<!--blocks-->
<div class="nt-when">
    <div class="nt-wrapper__container">
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-full">
                @@include('../title/index.html',{
                "title_h-number": "h2",
                "title_mod": "",
                "title_text": "Когда это нужно:"
                })
            </div>
        </div>
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-2  wow fadeInLeft" data-wow-delay="0.5s">
                <div class="nt-when__item">
                    <div class="nt-when__img">
                        <img src="./img/when-1.png" alt=""/>
                    </div>
                    <div class="nt-when__text">
                        <p>
                            Когда у вас несколько офисов и Вы хотите иметь общий информационный ресурс (общий каталог)
                            для работы вне зависимости от места, где вы находитесь и получить возможность подключаться и
                            вносить корректировки, которые будут доступны так же для Ваших коллег, у которых есть
                            полномочия на доступ к информации "общего каталога".
                        </p>
                    </div>
                </div>
            </div>
            <div class="nt-wrapper__col-2 wow fadeInRight" data-wow-delay="0.7s">
                <div class="nt-when__item">
                    <div class="nt-when__img">
                        <img src="./img/when-2.png" alt=""/>
                    </div>
                    <div class="nt-when__text">
                        <p>
                            Когда есть ограниченный круг лиц для работы с информацией, требующей коллективной работы над
                            одним или несколькими проектами. Система пользволяет Вам иметь неограниченное количество
                            распределенных ресурсов, доступ к которым среди пользователей системы определяется только
                            Вами.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>