/**
 * Main styles
 **/
.nt-when {
  padding-top: 31px;
  padding-bottom: 57px;

  &__item {
	padding: 24px 40px 3px 52px;
	border: 1px solid #d9d9d9;
  }

  &__img{
	text-align: center;
	padding-bottom: 24px;

	img{
	  display: inline-block;
	  max-width: 100%;
	}
  }

  &__text{
	min-height: 170px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}