/**
 * Main styles
 **/
.nt-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 50px;
  color: @nt-blue;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;

  small {

  }

  &_color-white {
    color: @nt-white;
  }

  &_color-red {
    color: @nt-red;
  }

  &_text-left {

  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: @screen-xs-max) {
  .nb-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;

    small {
      font-size: 14px;
      line-height: 20px;
    }

    &_border {


      &:after {
        display: none;
      }
    }
  }
}