<!--blocks-->
<div class="nt-question">
    <div class="nt-question__shadow">
        <div class="nt-wrapper__container  wow fadeInUp">
            <h2 class="">Возникли вопросы?</h2>
            <p> Позвоните нашим специалистам в единый центр поддержки клиентов по телефону:</p>

            <a href="tel:+78126221616">+7 812 622-16-16</a>
        </div>
    </div>
</div>