/**
 * Main styles
 **/
.nt-question {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 260px;
  background-image:url(../img/question.jpg);
  position: relative;
  text-align: center;
  color: @nt-white;

  &__shadow{
    height: 100%;
    //background: url(../img/shadow.png) no-repeat center center;
    //background-size: cover;
    box-shadow: inset 0px 0px 30px -6px rgba(0,0,0,0.75);
    padding-top: 32px;
  }

  h2{
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  p{
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 0;
    font-weight: normal;
  }

  a{
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    color: @nt-white;
    font-weight: normal;
    margin-top: -6px;

    &:hover{
      color: @nt-white;
    }
  }
}


/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}