/**
 * Main styles
 **/
.header {
  padding-top: 30px;
  height: 143px;
  overflow: hidden;

  &__container {
	.container();
  }

  &__row {
	.make-row();
  }

  &__col {
	.make-sm-column(7.5);
  }

  &__col-2 {
	.make-sm-column(4.5);

	&_right {
	  text-align: right;
	}
  }

  &__logo {
	display: inline-block;
	margin-top: 35px;
  }

  &__top {
	.clearfix();
	padding-left: 11px;
	padding-top: 9px;
  }

  &__bottom {
	padding-top: 21px;
  }

  &__phone {
	display: block;
	float: left;
	font-weight: normal;
	font-size: 19px;
	line-height: 24px;
  }

  &__check-in{
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	border-bottom: 2px dotted;
	color: #5c5c5c;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}