<header id="header" class="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__col">
                <a href="/" class="header__logo">
                    <img src="./img/logo.png" alt=""/>
                </a>
            </div>
            <div class="header__col-2 header__col-2_right">

                <div class="header__top">
                    <a href="tel:+78126221616" class="header__phone">+7 (812) 622-16-16</a>
                    <a href="#" class="header__check-in">Регистрация</a>
                </div>
                <div class="header__bottom">
                    @@include('../../blocks/menu/index.html')
                </div>
            </div>

        </div>
    </div>
</header>


