<!--blocks-->
<div class="nt-tariff-adjustment nt-tariff-adjustment_bg">
    <div class="nt-tariff-adjustment__col-1"></div>
    <div class="nt-tariff-adjustment__col-2">
        <div class="nt-tariff-adjustment__disk-space"></div>
    </div>
    <div class="nt-tariff-adjustment__col-3"></div>
</div>