/**
 * Main styles
 **/
.nt-tariff-adjustment {
  font-size: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: -31px;
  margin-right: -23px;

  &_bg {
	background: @nt-greyLight;
  }
  &__col-1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	width: 160px;
	padding-left: 31px;

  }
  &__col-2 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	width: 180px;
  }
  &__col-3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	width: 366px;
  }
  .Прямоугольник__скругл__углы_11 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(187, 187, 187);
	border-radius: 5px;
	background-image: -moz-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
	position: absolute;
	left: 840px;
	top: 6088px;
	width: 17px;
	height: 41px;
	z-index: 377;
  }


  &__disk-space {
	background: url(../img/disk-space.png) no-repeat center center;
	width: 215px;
	height: 100px;
	margin-left: -16px;
  }

  &__period-payment {
	background: url(../img/period-payment.png) no-repeat center center;
	width: 135px;
	height: 135px;
	margin: 0 auto -9px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}