<!--blocks-->
<div id="tariff" class="nt-test-period  wow fadeInUp">
    <div class="nt-wrapper__container">
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-full">


                <div class="nt-test-period__inner">
                    <h2 class="nt-title nt-title_color-red">Бесплатный <br>тестовый период</h2>

                    <div class="nt-test-period__lid">
                        <p>
                            Проверьте качество наших услуг до того, как платить за них.
                        </p>
                    </div>
                    <div class="nt-test-period__text">
                        <p>
                            Мы предлагаем бесплатный 10 дневный тестовый период для оценки работы системы NAVITRON. Вам
                            будут доступны все функции программы включая возможности, которые предлагает выбранный Вами
                            тариф.
                        </p>
                        <p>
                            По истечению указанного периода, Вы сможете продлить действие учетной записи после
                            заключения <a href="#">"соглашения о предоставлении сервиса"</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>