/**
 * Main styles
 **/
.nt-test-period {
  background: url(../img/test-period-bg.png) center center no-repeat;
  padding-top: 106px;

  &__inner {
	width: 907px;
	min-height: 567px;
	overflow: hidden;
	background: url(../img/test-period.png) center center no-repeat;
	margin-left: 25px;
	padding: 40px 140px 115px 180px;
  }

  &__lid {
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 28px;
	margin-top: 34px;
  }

  &__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;

	p {
	  margin-bottom: 24px;
	}

	a{
	  font-weight: bold;
	  text-decoration: underline;
	  color: @text-color;
	}

  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}