/**
 * Common styles
 **/

*{
  max-height: 99999px;
}
html {
  //height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
  .pt-OpenSans();
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 100%;
  //height: 100%;
  min-width: 1056px;
  //overflow: hidden;
}

a {
  transition: opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;
}

.nt-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: @nt-white;
  overflow: hidden;
  position: relative;

  &__container {
	.container();
  }

  &__row {
	.make-row();
  }

  &__col-full {
	.make-sm-column(12);
  }

  &__col-2 {
	.make-sm-column(6);

	&_right {
	  text-align: right;
	}
  }

  &__col-3 {
	.make-sm-column(4);
	text-align: center;
  }

  &__col-5 {
	.make-sm-column(2.4);
	text-align: center;
  }
}

.nt-content {

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}