// Mixins
// --------------------------------------------------


// Lazy border
.pr-border( @pr-border-width, @pr-border-style, @pr-border-color ) {
	border-style: @pr-border-style;
	border-width: @pr-border-width;
	border-color: @pr-border-color;
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder {
    color: @color;
  }
}

.pt-OpenSans {
  font-family: 'Open Sans', sans-serif;
}


.clearfix {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after { clear: both; }
}

.container(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
  max-width: 1056px;
  min-width: 320px;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    //max-width: @container-sm;
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
    //max-width: @container-md;
    width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    //max-width: @container-lg;
    width: 100%;
  }

}