/**
 * Custom variables
 **/

// Globals
@abs-img-path:              '..'; // example: http://site.com
@path:                      '../../bower_components/bootstrap/less/';
@path-fonts:                '../fonts/';


// DAS main colors
@nt-white:                 #ffffff;
@nt-black:                 #000000;
@nt-blue:                  #1590dd;
@nt-green:                 #00ae19;
@nt-orange:                #ff9000;
@nt-red:                   #e50d03;
@nt-greyLight:             #f2f2f2;
@nt-grey:                  #252525;


// DAS text & link settings
@body-bg:                   @nt-white;
@text-color:                @nt-grey;
@link-color:                @nt-blue;
@link-hover-color:          @nt-grey;;
@link-hover-decoration:     none;



/**
 * Grid system
 **/

@screen-md:                  1024px;
@grid-columns:               12;
@grid-gutter-width:          32px;
@screen-sm-max:              1060px;

// @container-tablet:           ;
// @container-sm:               ;
@container-desktop:          (980px + @grid-gutter-width);
// @container-md:               ;
@container-large-desktop:    (1140px + @grid-gutter-width + 20px);
// @container-lg:              ;





//Убираем моб. версию
@screen-xs: 10px;
@screen-sm: 10px;
@screen-md: 10px;









//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    #010101;
//** `<input>` border color
@input-border:                   #bdbdbd;
@font-size-base:          18px;
// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            8px;
//** Large `.form-control` border radius
@input-border-radius-large:      8px;
//** Small `.form-control` border radius
@input-border-radius-small:      8px;

//** Border color for inputs on focus
@input-border-focus:             @nt-blue;

//** Placeholder text color
@input-color-placeholder:        #aeaeae;

//** Default `.form-control` height
@input-height-base:              48px;
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       43px;

@legend-color:                   @gray-dark;
@legend-border-color:            #a3a7a9;

//** Background color for textual input addons
@input-group-addon-bg:           @nt-white;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;
