/**
 * Main styles
 **/
/***************
   Checkboxes
***************/


/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

// Checkbox Styles
[type="checkbox"] {

  // Text Label Style
  + label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	//font-size: 1rem;

	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
  }

  /* checkbox aspect */
  + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	z-index: 0;
	border: 1px solid @radio-empty-color;
	border-radius: 1px;
	margin-top: 2px;
	transition: .2s;
  }

  &:not(:checked):disabled + label:before {
	border: none;
	background-color: @input-disabled-color;
  }
}

[type="checkbox"]:checked {
  + label:before {
	top: -4px;
	left: -3px;
	width: 12px; height: 22px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid @radio-fill-color;
	border-bottom: 1px solid @radio-fill-color;
	transform: rotate(40deg);
	backface-visibility: hidden;
	transform-origin: 100% 100%;
  }

  &:disabled + label:before {
	border-right: 1px solid @input-disabled-color;
	border-bottom: 1px solid @input-disabled-color;
  }
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate {
  +label:before {
	left: -10px;
	top: -11px;
	width: 10px; height: 22px;
	border-top: none;
	border-left: none;
	border-right: 1px solid @radio-fill-color;
	border-bottom: none;
	transform: rotate(90deg);
	backface-visibility: hidden;
	transform-origin: 100% 100%;
  }

  // Disabled indeterminate
  &:disabled + label:before {
	border-right: 1px solid @input-disabled-color;
	background-color: transparent;
  }
}

// Filled in Style
[type="checkbox"].filled-in {
  // General
  + label:after {
	border-radius: 2px;
  }
  + label:before,
  + label:after {
	content: '';
	left: 0;
	position: absolute;
	/* .1s delay is for check animation */
	transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
	z-index: 1;
  }

  // Unchecked style
  &:not(:checked) + label:before {
	width: 0;
	height: 0;
	border: 3px solid transparent;
	left: 6px;
	top: 10px;

	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	-webkit-transform-origin: 20% 40%;
	transform-origin: 100% 100%;
  }

  &:not(:checked) + label:after {
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 1px solid @radio-empty-color;
	top: 0px;
	z-index: 0;
  }

  // Checked style
  &:checked {
	+ label:before {
	  top: 0;
	  left: 1px;
	  width: 8px;
	  height: 13px;
	  border-top: 2px solid transparent;
	  border-left: 2px solid transparent;
	  border-right: 2px solid @input-bg-color;
	  border-bottom: 2px solid @input-bg-color;
	  -webkit-transform: rotateZ(37deg);
	  transform: rotateZ(37deg);

	  -webkit-transform-origin: 100% 100%;
	  transform-origin: 100% 100%;
	}

	+ label:after {
	  top: 0px;
	  width: 20px;
	  height: 20px;
	  border: 1px solid @secondary-color;
	  background-color: @secondary-color;
	  z-index: 0;
	}
  }
  // Disabled style
  &:disabled:not(:checked) + label:before {
	background-color: transparent;
	border: 1px solid transparent;
  }

  &:disabled:not(:checked) + label:after {
	border-color: transparent;
	background-color: @input-disabled-solid-color;
  }

  &:disabled:checked + label:before {
	background-color: transparent;
  }

  &:disabled:checked + label:after {
	background-color: @input-disabled-solid-color;
	border-color: @input-disabled-solid-color;
  }
}


/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}