/**
 * Main styles
 **/
//
// Forms
// --------------------------------------------------

// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 1px solid @legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  .box-sizing(border-box);
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus {
  .tab-focus();
}

// Adjust output element
output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
}

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-text` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-text,
.form-textarea {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
	border: 0;
	background-color: transparent;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
	background-color: @input-bg-disabled;
	opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
	cursor: @cursor-disabled;
  }

  // Reset height for `textarea`s
  textarea& {
	height: auto;
  }
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-text` class can properly style them. Note that this cannot simply
// be added to `.form-text` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}

// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 8.3, iOS doesn't support `datetime` or `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
	&.form-text {
	  line-height: @input-height-base;
	}

	&.input-sm,
	.input-group-sm & {
	  line-height: @input-height-small;
	}

	&.input-lg,
	.input-group-lg & {
	  line-height: @input-height-large;
	}
  }
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-item {
  margin-bottom: @form-group-margin-bottom;

  label {
	color: @nt-black;
	font-size: 14px;
  }
}

// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-text-static {
  // Size it appropriately next to real form controls
  padding-top: (@padding-base-vertical + 1);
  padding-bottom: (@padding-base-vertical + 1);
  // Remove default margin from `p`
  margin-bottom: 0;
  min-height: (@line-height-computed + @font-size-base);

  &.input-lg,
  &.input-sm {
	padding-left: 0;
	padding-right: 0;
  }
}

// Form control sizing
//
// Build on `.form-text` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-item-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.

.input-sm {
  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius-small);
}

.form-item-sm {
  .form-text {
	height: @input-height-small;
	padding: @padding-small-vertical @padding-small-horizontal;
	font-size: @font-size-small;
	line-height: @line-height-small;
	border-radius: @input-border-radius-small;
  }
  select.form-text {
	height: @input-height-small;
	line-height: @input-height-small;
  }
  textarea.form-textarea,
  select[multiple].form-text {
	height: auto;
  }
  .form-text-static {
	height: @input-height-small;
	min-height: (@line-height-computed + @font-size-small);
	padding: (@padding-small-vertical + 1) @padding-small-horizontal;
	font-size: @font-size-small;
	line-height: @line-height-small;
  }
}

.input-lg {
  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @input-border-radius-large);
}

.form-item-lg {
  .form-text {
	height: @input-height-large;
	padding: @padding-large-vertical @padding-large-horizontal;
	font-size: @font-size-large;
	line-height: @line-height-large;
	border-radius: @input-border-radius-large;
  }
  textarea.form-textarea {
	height: auto;
  }
  .form-text-static {
	height: @input-height-large;
	min-height: (@line-height-computed + @font-size-large);
	padding: (@padding-large-vertical + 1) @padding-large-horizontal;
	font-size: @font-size-large;
	line-height: @line-height-large;
  }
}

// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-text {
	padding-right: (@input-height-base * 1.25);
  }
}

// Feedback icon (requires .glyphicon classes)
.form-text-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; // Ensure icon is above input groups
  display: block;
  width: @input-height-base;
  height: @input-height-base;
  line-height: @input-height-base;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-text-feedback,
.input-group-lg + .form-text-feedback,
.form-item-lg .form-text + .form-text-feedback {
  width: @input-height-large;
  height: @input-height-large;
  line-height: @input-height-large;
}

.input-sm + .form-text-feedback,
.input-group-sm + .form-text-feedback,
.form-item-sm .form-text + .form-text-feedback {
  width: @input-height-small;
  height: @input-height-small;
  line-height: @input-height-small;
}

// Feedback states
.has-success {
  .form-control-validation(@state-success-text; @state-success-text; @state-success-bg);
}

.has-warning {
  .form-control-validation(@state-warning-text; @state-warning-text; @state-warning-bg);
}

.error {
  .form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
}

  .form-text {

	&.error {
	  border-color: @state-danger-text;
	  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
	  &:focus {
		border-color: darken(@state-danger-text, 10%);
		@shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten(@state-danger-text, 20%);
		.box-shadow(@shadow);
	  }
	}
  }


// Reposition feedback icon if input has visible label above
.has-feedback label {

  & ~ .form-text-feedback {
	top: (@line-height-computed + 5); // Height of the `label` and its margin
  }
  &.sr-only ~ .form-text-feedback {
	top: 0;
  }
}

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten(@text-color, 25%); // lighten the text some for contrast
}

// Inline forms
//
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-item` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.form-inline {

  // Kick in the inline
  @media (min-width: @screen-sm-min) {
	// Inline-block all the things for "inline"
	.form-item {
	  display: inline-block;
	  margin-bottom: 0;
	  vertical-align: middle;
	}

	// In navbar-form, allow folks to *not* use `.form-item`
	.form-text {
	  display: inline-block;
	  width: auto; // Prevent labels from stacking above inputs in `.form-item`
	  vertical-align: middle;
	}

	// Make static controls behave like regular ones
	.form-text-static {
	  display: inline-block;
	}

	.input-group {
	  display: inline-table;
	  vertical-align: middle;

	  .input-group-addon,
	  .input-group-btn,
	  .form-text {
		width: auto;
	  }
	}

	// Input groups need that 100% width though
	.input-group > .form-text {
	  width: 100%;
	}

	.control-label {
	  margin-bottom: 0;
	  vertical-align: middle;
	}

	// Re-override the feedback icon.
	.has-feedback .form-text-feedback {
	  top: 0;
	}
  }
}

// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal {

  // Make form groups behave like rows
  .form-item {
	.make-row();
  }

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: @screen-sm-min) {
	.control-label {
	  text-align: right;
	  margin-bottom: 0;
	  padding-top: (@padding-base-vertical + 1); // Default padding plus a border
	}
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-text-feedback {
	right: floor((@grid-gutter-width / 2));
  }

  // Form group sizes
  //
  // Quick utility class for applying `.input-lg` and `.input-sm` styles to the
  // inputs and labels within a `.form-item`.
  .form-item-lg {
	@media (min-width: @screen-sm-min) {
	  .control-label {
		padding-top: (@padding-large-vertical + 1);
		font-size: @font-size-large;
	  }
	}
  }
  .form-item-sm {
	@media (min-width: @screen-sm-min) {
	  .control-label {
		padding-top: (@padding-small-vertical + 1);
		font-size: @font-size-small;
	  }
	}
  }
}

form {
  .description {
	font-size: 12px;
	line-height: 14px;
	color: @nt-grey;
	margin-top: 10px;
  }
}
