/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #d9d9d9;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
	 its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(179, 179, 179);
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 40px;
  left: -8px;
  top: -16px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

/* Styling;
 */
.noUi-background {
  background-color: #2eabf9;
  background-image: -moz-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
  background-image: -ms-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
}
.nt-tariff__item_business{
  .noUi-background {
	background-color: #2eabf9;
	background-image: -moz-linear-gradient(0deg, rgba(255, 204, 0, 0) 0%, rgb(255, 204, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgba(255, 204, 0, 0) 0%, rgb(255, 204, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgba(255, 204, 0, 0) 0%, rgb(255, 204, 0) 100%);
  }
}


.noUi-connect {
  background: @nt-blue;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {

}

.noUi-target.noUi-connect {

}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  //background: @nt-green;
  cursor: pointer;
  box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 1, 0.21);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(187, 187, 187);
  background-color: #cacaca;
  border-radius: 5px;
  background-image: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  width: 16px;
  height: 40px;
  .Прямоугольник_27 {
	background-color: #2eabf9;
	background-image: -moz-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
	background-image: -webkit-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
	background-image: -ms-linear-gradient(0deg, rgba(57, 221, 0, 0) 0%, rgb(57, 221, 0) 100%);
	position: absolute;
	left: 398px;
	top: 6089px;
	width: 524px;
	height: 33px;
	z-index: 375;
  }
  .Прямоугольник__скругл__углы_10 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(179, 179, 179);
	background-color: rgb(217, 217, 217);
	position: absolute;
	left: 557px;
	top: 6104px;
	width: 359px;
	height: 11px;
	z-index: 374;
  }

}

.noUi-active {

}

/* Handle stripes;
 */

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
