/**
 * Main styles
 **/
@radio-empty-color:					#a3a7a9;
@radio-fill-color:					@nt-blue;
@input-disabled-color: 				#ebebeb;
@input-disabled-solid-color:		#ebebeb;
@input-bg-color:					@nt-white;
@secondary-color:					@nt-blue;

/***************
  Radio Buttons
***************/

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  //font-size: 1rem;
  transition: .28s ease;

  -khtml-user-select: none; /* webkit (konqueror) browsers */
  user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 1px solid @radio-empty-color;
}
[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 1px solid @radio-empty-color;
  z-index: -1;

  transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 1px solid @radio-fill-color;
  background-color: @radio-fill-color;
  z-index: 0;
  transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].form-radio:checked + label:before {
  border-radius: 50%;
  border: 1px solid @radio-fill-color;
}
[type="radio"].form-radio:checked + label:after {
  border-radius: 50%;
  border: 1px solid @radio-fill-color;
  background-color: @radio-fill-color;
  z-index: 0;
  transform: scale(.5);
}

/* Disabled Radio With gap */
[type="radio"].form-radio:disabled:checked + label:before {
  border: 1px solid @input-disabled-color;
}
[type="radio"].form-radio:disabled:checked + label:after {
  border: none;
  background-color: @input-disabled-color;
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: @input-disabled-color;
}
[type="radio"]:disabled + label {
  color: @input-disabled-color;
}
[type="radio"]:disabled:not(:checked) + label:before {
  border-color: @input-disabled-color;
}
[type="radio"]:disabled:checked + label:after {
  background-color: @input-disabled-color;
  border-color: @input-disabled-solid-color;
}

.form-type-radios{
  .form-type-radio{
    margin-bottom: 0;
  }
}
/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}