/**
 * Main styles
 **/

@input-border-color: #707070;
@label-font-size: 12px;
@dropdown-item-height: 26px;
@dropdown-hover-bg-color: #eeeeee;
/***************
  Select Field
***************/
.select-label {
  position: absolute;
}

.select-wrapper {
  position: relative;

  input.select-dropdown {
	position: relative;
	cursor: pointer;
	// color: #444;
	background-color: transparent;
	border: none;
	outline: none;
	height: 26px;
	line-height: 26px;
	width: 100%;
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 0;
	display: block;
  }

  span.caret {
	color: initial;
	position: absolute;
	right: 0;
	top: 14px;
	font-size: 10px;
	&.disabled {

	}
  }

  & + label {
	position: absolute;
	top: -14px;
	font-size: @label-font-size;
  }
}

select {
  display: none;
}

select.browser-default {
  display: block;
}

// Disabled styles
select:disabled {
  color: rgba(0, 0, 0, .3);
}

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, .3);
  cursor: default;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.select-wrapper i {
  color: rgba(0, 0, 0, .3);
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, .3);
  background-color: transparent;
}

// Icons
.select-dropdown li {
  img {
	height: @dropdown-item-height - 10;
	width: @dropdown-item-height - 10;
	margin: 5px 15px;
	float: right;
  }
}

// Optgroup styles
.select-dropdown li.optgroup {
  border-top: 1px solid @dropdown-hover-bg-color;

  &.selected > span {
	color: rgba(0, 0, 0, .7);
  }

  & > span {
	color: rgba(0, 0, 0, .4);
  }

  & ~ li:not(.optgroup) {
	padding-left: 1rem;
  }
}

/***************************
   Text Inputs + Textarea
****************************/
select {
  background-color: rgba(255, 255, 255, 0.90);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  height: 3rem;
}

.form-item {
  .select-dropdown {
	//text-transform: uppercase;
	font-size: 14px !important;
	line-height: 36px !important;
	min-height: 36px;
	display: none;
	background: #ffffff;
	border-radius: 5px;
	padding: 0;
	margin:0;
	font-weight: normal;
  }
  input.select-dropdown {
	padding: 0 30px 0 12px;
	border: 1px solid #c2c2c2;
  }
  .select-wrapper span.caret {
	top: 0;
	height: 36px;
	line-height: 36px;
	width: 20px;
	color: #818181;
  }
  .dropdown-content {
	border: 1px solid #e9eaeb;
	li {
	  font-size: 14px;
	  line-height: 36px;
	  border-bottom: 1px solid #e9eaeb;



	  &:last-child {
		border-bottom: none;
	  }
	  & > a, & > span {
		font-size: 14px;
		color: #707070;
		display: block;
		line-height: 30px;
		padding: 0 30px 0 12px;
		//text-overflow: ellipsis;
		//white-space: nowrap;
		overflow: hidden;
		//text-transform: uppercase;
	  }
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}