<!--blocks-->
<div class="nt-why">
    <div class="nt-wrapper__container">
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-full">
                @@include('../title/index.html',{
                "title_h-number": "h2",
                "title_mod": "nt-title_color-white",
                "title_text": "Почему это удобно:"
                })
            </div>
        </div>
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-2 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="nt-why__item">
                        <div class="nt-why__img">
                        <img src="./img/why-1.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Защищенность</h3>
                    <div class="nt-why__text">
                        <p>
                            Система использует только проверенные варианты защиты, спроектированные и основанные на технологиях, использующихся в решениях по защите банковской информации.
                        </p>
                    </div>
                </div>
            </div>
            <div class="nt-wrapper__col-2 wow fadeInRight" data-wow-delay="0.7s">
                <div class="nt-why__item">
                    <div class="nt-why__img">
                        <img src="./img/why-2.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Поддержка <br> пользователей 24/7</h3>
                    <div class="nt-why__text">
                        <p>
                            Наша служба поддержки 24/7 поможет решить любой вопрос по настройке и использованию сервиса NAVITRON.
                            <img src="./img/why.png" alt=""/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-2 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="nt-why__item">
                        <div class="nt-why__img">
                        <img src="./img/why-3.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Отказоустойчивость</h3>
                    <div class="nt-why__text">
                        <p>
                            технология синхронизации зашифрованных данных между основным и резервным серверами
                        </p>
                    </div>
                </div>
            </div>
            <div class="nt-wrapper__col-2 wow fadeInRight" data-wow-delay="0.7s">
                <div class="nt-why__item">
                    <div class="nt-why__img">
                        <img src="./img/why-4.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Гибкая настройка</h3>
                    <div class="nt-why__text">
                        <p>
                            Добавляйте и удаляйте разрешения одним кликом
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nt-wrapper__row">
            <div class="nt-wrapper__col-2 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="nt-why__item">
                        <div class="nt-why__img">
                        <img src="./img/why-5.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Оперативное <br> подключение услуг</h3>
                    <div class="nt-why__text">
                        <p>
                            Мы сделали возможным подключение
                            в течение 1 часа
                        </p>
                    </div>
                </div>
            </div>
            <div class="nt-wrapper__col-2 wow fadeInRight" data-wow-delay="0.7s">
                <div class="nt-why__item">
                    <div class="nt-why__img">
                        <img src="./img/why-6.png" alt=""/>
                    </div>
                    <h3 class="nt-why__title">Постоплатная <br> система расчетов</h3>
                    <div class="nt-why__text">
                        <p>
                            Вы платите только за нужные услуги и ресурсы
                            и подключаете их только по мере необходимости
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="nt-why__information-btn">хочу знать больше</a>
    </div>
</div>