/**
 * Main styles
 **/
.nt-why {
  padding-top: 18px;
  padding-bottom: 47px;
  background: #4badea;
  position: relative;
  text-align: center;

  &__item {
	display: inline-block;
	max-width: 362px;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 45px;
  }

  &__img {
	text-align: center;
	padding-bottom: 6px;

	img {
	  display: inline-block;
	  max-width: 100%;
	}
  }

  &__title {
	margin-top: 0;
	margin-bottom: 2px;
	min-height: 35px;
	text-align: center;
	padding: 0;
	color: @nt-white;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
  }

  &__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: justify;
  }

  &__information-btn {
	display: block;
	position: absolute;
	bottom: 43px;
	color: @nt-white;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	border-bottom: 2px dotted;

	&:after{
	  content: '';
	  display: block;
	  position: absolute;
	  top: 40px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 50px;
	  height: 15px;
	  background: url(../img/arr.png) no-repeat 0 0;
	}

	&:hover,
	&:focus{
	  color: @nt-white;
	  &:after{
		background-position: 0 -15px;
	  }
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}