<!--blocks-->
<div class="nt-information__outer">
    <div class="nt-information">
        <a href="#" class="nt-information__close nt-information__close_top"></a>
        <div class="nt-wrapper__container">
            <div class="nt-wrapper__row">
                <div class="nt-wrapper__col-full">
                    @@include('../title/index.html',{
                    "title_h-number": "h2",
                    "title_mod": "",
                    "title_text": "Подробная информация:"
                    })
                </div>
            </div>

            <div class=" wow fadeInUp" data-wow-delay="0.7s">
                <div class="nt-wrapper__row">
                    <div class="nt-wrapper__col-full">
                        <h3 class="nt-information__lid">Эволюция внешних накопителей:</h3>
                        <img src="./img/information.png" alt="" class="nt-information__img"/>
                    </div>
                </div>
                <div class="nt-wrapper__row">
                    <div class="nt-wrapper__col-5">
                        <div class="nt-information__evolution">
                            <strong>Папирус</strong>
                            <span>3000 лет до н.э.</span>

                        </div>
                    </div>
                    <div class="nt-wrapper__col-5">
                        <div class="nt-information__evolution">
                            <strong>Кассета</strong>
                            <span>1963 год</span>
                        </div>
                    </div>
                    <div class="nt-wrapper__col-5">
                        <div class="nt-information__evolution">
                            <strong>Оптический диск</strong>
                            <span>1969 год</span>
                        </div>
                    </div>
                    <div class="nt-wrapper__col-5">
                        <div class="nt-information__evolution">
                            <strong>Флеш-накопитель</strong>
                            <span>2000 год</span>
                        </div>
                    </div>
                    <div class="nt-wrapper__col-5">
                        <div class="nt-information__evolution">
                            <span>Современная <br> разработка</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" wow fadeInUp" data-wow-delay="0.7s">
                <div class="nt-wrapper__row">
                    <div class="nt-wrapper__col-full">
                        <div class="nt-information__text">
                            <p>
                                Зачастую мы не можем и представить что бы мы делали без съемных внешних накопителей
                                информации,
                                таких как флешки, внешние диски, токены и.т.д.
                            </p>
                            <p>
                                Но, без сомнения, Вы не сможете не согласиться с тем, что намного удобнее забыть о всех
                                этих
                                аксессуарах пользователя персонального компьютера или ноутбука, если бы данные, которые
                                нам
                                нужны, всегда были под рукой и сложностей в том, чтобы их получить в любой момент
                                времени не
                                составляло бы труда. Ведь так?
                            </p>
                            <p>
                                Но ведь пару десятков лет назад у нас с Вами были кассеты для хранения информации.
                                Видеокассеты
                                или аудиокассеты - эти слова словно стучатся из далекого прошлого. А ведь можно смело
                                утверждать, что надо поискать того, кто хотя бы раз в год произносит эти слова вслух или
                                думает
                                о них. Даже компакт-диски уже не так популярны как удобные SSD накопители информации или
                                обычные
                                флешки:
                            </p>
                        </div>
                    </div>
                </div>
                <div class="nt-wrapper__row">
                    <div class="nt-wrapper__col-3">
                        <div class="nt-information__advantage nt-information__advantage_blu">
                            Меньше <br>
                            по размерам
                        </div>
                    </div>
                    <div class="nt-wrapper__col-3">
                        <div class="nt-information__advantage nt-information__advantage_green">
                            Быстрее по скорости <br>
                            чтения и записи
                        </div>
                    </div>
                    <div class="nt-wrapper__col-3">
                        <div class="nt-information__advantage nt-information__advantage_orange">
                            Большая <br>
                            износостойкость
                        </div>
                    </div>
                </div>
                <div class="nt-wrapper__row">
                    <div class="nt-wrapper__col-full">
                        <div class="nt-information__text">
                            <p>
                                С самого начала к технологии записи на компакт-диски нельзя было применить слово
                                "прочный". Даже
                                небольшая царапина могла привести в негодность весь носитель информации. Как прародители
                                компакт-дисков - виниловые пластинки до сих пор находят ценителей и пользуются немалым
                                спросом
                                за счет ограниченного срока прочности и необходимости выберживать определенные
                                требования к
                                хранению.
                            </p>
                            <p>
                                А на компакт-дисках все лишь информация в электронном виде и мы проскочили это время их
                                популярности <!--с развитием рынка флеш накопителей.-->
                                <br>
                                А что же дальше? - мы предлагаем Вам сервис хранения информации со
                                <span
                                    style="color: #b33737;">"УКАЗЫВАЕТСЯ ИНФОРМАЦИЯ О СТЕПЕНЯХ ЗАЩИТЫ И ТЕХНОЛОГИЯХ".</span>
                            </p>
                            <br>
                            <br>
                            <h3>Взаимодействие с сервисом осуществляется с использованием сертификатов высокой
                                надежности SSL.
                                Для защиты данных в технологии NAVITRON используется:</h3>
                            <blockquote>
                                <p>
                                    Многофакторная аутентификация для защищенного входа в систему
                                </p>
                                <p>
                                    SHA-2 и 2048-битное шифрование — самое надежное на сегодняшний день
                                </p>
                                <p>
                                    Шифрация дискового массива на аппаратном уровне, как средство обезопасить
                                    размещенные в
                                    сервисе данные и обеспечить их конфиденциальность.
                                </p>
                                <p>
                                    Аппаратное оборудование CISCO для защиты от несанкционированных подключений
                                </p>
                                <p>
                                    Автоматизированная процедура резервного копирования зашифрованного массива данных
                                </p>
                            </blockquote>
                            <p>
                                Диск, на котором содержится информация зашифрован с использованием безопасного алгоритма
                                хеширования, что позволяет обезопасить размещенные в сервисе данные и обеспечить их
                                конфиденциальность.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="nt-information__close nt-information__close_bottom"></a>
    </div>
</div>