/**
 * Main styles
 **/
.nt-information {
  background: #efefef;
  position: relative;
  padding-top: 68px;
  padding-bottom: 63px;

  &__outer{
    height: 0;
    overflow: hidden;
  }


  &__close{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 15px;
    background: url(../img/arr.png) no-repeat 0 -30px;

    &:hover{
      background-position: 0 -45px;
    }

    &_top{
      top: 0;
      margin-top: 18px;
    }

    &_bottom{
      bottom: 0;
      margin-bottom: 35px;
    }
  }

  &__lid{
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
    color: #959ca2;
    margin-bottom: 31px;
    margin-top: 37px;
  }

  &__evolution{
    display: inline-block;
    margin-bottom: 77px;

    strong{
      display: inline-block;
      width: 100%;
    }
    span{
      display: inline-block;
      width: 100%;
    }
  }

  &__img{
    display: block;
    margin-left: 32px;
    margin-bottom: 8px;
  }

  &__text{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0px;

    p{
      margin-bottom: 24px;
    }

    h3{
      font-size: 24px;
      line-height: 24px;
      color: @nt-blue;
      margin-top: 14px;
      margin-bottom: 20px;
    }

    blockquote{
      padding: 0 0 0 32px;
      border-left: 3px solid #1590dd;
      color: #3f3f3f;
      font-size: 14px;
      line-height: 24px;
      margin-top: 25px;
      margin-bottom: 40px;

      p{
        margin-bottom: 24px;
        font-weight: bold;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  &__advantage{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    padding-right: 43px;
    padding-left: 43px;
    padding-top: 23px;
    padding-bottom: 47px;
    position: relative;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      left: 0;
      width: 30px;
      height: 30px;
      background: url(../img/ok.png) no-repeat top left;
    }

    &_blu{
      color: @nt-blue;

      &:after{
        background-position: top center;
      }
    }

    &_green{
      color: @nt-green;

      &:after{
        background-position: center center;
      }
    }

    &_orange{
      color: @nt-orange;

      &:after{
        background-position: bottom center;
      }
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}