<div class="nt-wrapper__row">
    <div class="nt-wrapper__col-full">
        @@include('../title/index.html',{
        "title_h-number": "h2",
        "title_mod": "",
        "title_text": "Выберите тариф:"
        })
    </div>
</div>

<div class="nt-tariff__item nt-tariff__item_individual  wow fadeInUp">
    <div class="nt-tariff__col-1">
        <div class="nt-tariff__top">
            <h3 class="nt-tariff__title">NAVITRON <span> Individual</span></h3>
            <div class="nt-tariff__count">1 пользователь</div>
        </div>
        <div class="nt-tariff__text">
            <p>
                Если Вы работаете с Вашими личными данными, а так же данными, доступ к которым должен быть
                только у Вас - этот тариф именно то, что Вам нужно.
            </p>
        </div>
        <div class="nt-tariff__middle">
            <h4 class="nt-tariff__title2">Настройка тарифа:</h4>
            <div class="nt-tariff__select form-item">
                <label>Тип договора</label>
                <select>
                    <option value="">физ. лицо</option>
                    <option value="">.h. лицо</option>
                </select>
            </div>
        </div>
        <div class="nt-tariff-adjustment nt-tariff-adjustment_bg">
            <div class="nt-tariff-adjustment__col-1">
                Дисковое <br>
                пространство
            </div>
            <div class="nt-tariff-adjustment__col-2">
                <div class="nt-tariff-adjustment__disk-space"></div>
            </div>
            <div class="nt-tariff-adjustment__col-3">
                <div id="slider-1"></div>
            </div>
        </div>
        <div class="nt-tariff-adjustment">
            <div class="nt-tariff-adjustment__col-1">
                Период <br>
                оплаты
            </div>
            <div class="nt-tariff-adjustment__col-2">
                <div class="nt-tariff-adjustment__period-payment"></div>
            </div>
            <div class="nt-tariff-adjustment__col-3">
                <div id="slider-2"></div>
            </div>
        </div>


    </div>
    <div class="nt-tariff__col-2">
        <div class="nt-tariff__r-top">
            <h3>ВАШ ТАРИФ:</h3>
            <div class="nt-tariff__price-1">1000 <span>руб./мес.</span></div>
            <div class="nt-tariff__price-text">оплата за 2 месяца:</div>
            <div class="nt-tariff__price-2">2000 <span>руб.</span></div>
            <div class="nt-tariff__discount">Ваша скидка 25%</div>
            <a href="#" class="nt-tariff__btn nt-btn nt-btn_grin ">Заказать</a>
        </div>
        <div class="nt-tariff__r-middle">
            <ul class="nt-tariff-advantages">
                <li class="nt-tariff-advantages__li">Бесплатный тестовый период на 10 дней</li>
                <li class="nt-tariff-advantages__li">Возможность расширить настройки тарифа</li>
            </ul>
        </div>
        <div class="nt-tariff__r-bottom">
            <span>есть вопросы по данному тарифу?</span>
            Звоните: +7 (812) 622-16-16 <br>
            или <a href="#">задайте вопрос</a>
        </div>
    </div>
</div>
