<div class="nt-tariff__item nt-tariff__item_business  wow fadeInUp"  data-wow-delay="0.4s">
    <div class="nt-tariff__col-1">
        <div class="nt-tariff__top">
            <h3 class="nt-tariff__title">NAVITRON <span>Business</span></h3>
            <div class="nt-tariff__count">от 5 пользователей</div>
        </div>
        <div class="nt-tariff__text">
            <p>
                Если Вы хотите организовать частный портал для работы с данными, не хотите заботиться об
                ограничении количества пользователей, работающих с Вашим хранилищем информации и работать с
                постоплатной системой расчетов, платя только по факту за предоставленные услуги - NAVITRON
                Business - это решение для Вас.
            </p>
        </div>
        <div class="nt-tariff__middle">
            <h4 class="nt-tariff__title2">Настройка тарифа:</h4>
            <div class="nt-tariff__select form-item">
                <label>Тип договора</label>
                <select>
                    <option value="">физ. лицо</option>
                    <option value="">.h. лицо</option>
                </select>
            </div>
        </div>
        <div class="nt-tariff-adjustment nt-tariff-adjustment_bg">
            <div class="nt-tariff-adjustment__col-1">
                Дисковое <br>
                пространство
            </div>
            <div class="nt-tariff-adjustment__col-2">
                <div class="nt-tariff-adjustment__disk-space"></div>
            </div>
            <div class="nt-tariff-adjustment__col-3">
                <div id="slider-3"></div>
            </div>
        </div>
        <div class="nt-tariff-adjustment">
            <div class="nt-tariff-adjustment__col-1">
                Количество <br>
                пользователей
            </div>
            <div class="nt-tariff-adjustment__col-2">
                <div class="nt-tariff-adjustment__disk-space"></div>
            </div>
            <div class="nt-tariff-adjustment__col-3">
                <div id="slider-4"></div>
            </div>
        </div>
        <div class="nt-tariff-adjustment nt-tariff-adjustment_bg">
            <div class="nt-tariff-adjustment__col-1">
                Период <br>
                оплаты
            </div>
            <div class="nt-tariff-adjustment__col-2">
                <div class="nt-tariff-adjustment__period-payment"></div>
            </div>
            <div class="nt-tariff-adjustment__col-3">
                <div id="slider-5"></div>
            </div>
        </div>
    </div>
    <div class="nt-tariff__col-2">
        <div class="nt-tariff__r-top">
            <h3>ВАШ ТАРИФ:</h3>
            <div class="nt-tariff__price-1">3000 <span>руб./мес.</span></div>
            <div class="nt-tariff__price-text">оплата за 1 год:</div>
            <div class="nt-tariff__price-2">36000 <span>руб.</span></div>
            <div class="nt-tariff__discount">Ваша скидка 25%</div>
            <a href="#" class="nt-tariff__btn nt-btn nt-btn_orange ">Заказать</a>
        </div>
        <div class="nt-tariff__r-middle">
            <ul class="nt-tariff-advantages">
                <li class="nt-tariff-advantages__li">Бесплатный тестовый период на 10 дней</li>
                <li class="nt-tariff-advantages__li">
                    Возможность расширить настройки тарифа
                    <ul>
                        <li>изменить объем дискового пространства</li>
                        <li>изменить количество пользователей</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nt-tariff__r-bottom">
            <span>есть вопросы по данному тарифу?</span>
            Звоните: +7 (812) 622-16-16 <br>
            или <a href="#">задайте вопрос</a>
        </div>
    </div>
</div>
