/**
 * Main styles
 **/
.nt-tariff {
  margin-top: -29px;

  &__item {
	.clearfix();
	border: 1px solid #bdbdbd;
	display: table;
	margin-bottom: 55px;
	margin-top: 19px;

	&_individual {

	  .nt-tariff__title {
		color: @nt-green;

		span {
		  background: @nt-green;
		}
	  }
	  .nt-tariff__count {
		background: url(../img/people-ico-1.png) no-repeat left center;
	  }

	  .nt-tariff__r-top {

		h3{
		  color: @nt-green;
		}
	  }
	  .nt-tariff__price-2{
		color: @nt-green;
	  }

	  .nt-tariff__r-bottom {
		span {
		  color: @nt-green;
		}
	  }
	}

	&_business {

	  .nt-tariff__title {
		color: @nt-orange;

		span {
		  background: @nt-orange;
		}
	  }

	  .nt-tariff__count {
		background: url(../img/people-ico-2.png) no-repeat left center;
		padding-left: 44px;
	  }

	  .nt-tariff__r-top {

		h3{
		  color: @nt-orange;
		}
	  }
	  .nt-tariff__price-2{
		color: @nt-orange;
	  }
	  .nt-tariff__r-bottom {
		span {
		  color: @nt-orange;
		}
	  }
	}
  }

  &__col-1 {
	width: 730px;
	display: table-cell;
	padding-left: 31px;
	padding-right: 23px;
	vertical-align: top;
  }

  &__col-2 {
	border-left: 1px solid #bdbdbd;
	background: @nt-greyLight;
	display: table-cell;
	width: 290px;
	vertical-align: top;
  }

  &__top {
	.clearfix();
	padding-top: 22px;
	padding-bottom: 19px;
  }

  &__title {
	text-transform: uppercase;
	font-size: 41px;
	line-height: 56px;
	font-weight: normal;
	float: left;
	margin-top: 0;
	margin-bottom: 13px;

	span {
	  color: @nt-white;
	  text-transform: none;
	  display: inline-block;
	  margin-left: 10px;
	  padding-left: 10px;
	  padding-right: 10px;
	  border-radius: 8px;
	}
  }

  &__count {
	float: right;
	display: block;
	padding-left: 33px;
	background: url(../img/people-ico-1.png) no-repeat center center;
	color: #919191;
	font-size: 18px;
	line-height: 48px;
	font-weight: normal;
	margin-top: 9px;
  }

  &__text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	border-bottom: 1px solid #bdbdbd;
	padding-bottom: 23px;
	text-align: justify;
  }

  &__middle {
	.clearfix();
	padding-top: 17px;
	//padding-bottom: 19px;
  }

  &__title2 {
	color: #939393;
	font-size: 30px;
	line-height: 48px;
	font-weight: normal;
	float: left;
	margin-top: 0;
	margin-bottom: 13px;
  }

  &__select {
	float: right;
	display: block;
	margin-bottom: 0;
	margin-top: 8px;

	label {
	  display: inline-block;
	  margin-left: 10px;
	  color: #252525;
	  font-size: 18px;
	  line-height: 24px;
	  font-weight: normal;
	}

	.select-wrapper {
	  display: inline-block;
	}
  }

  &__r-top {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	padding-top: 22px;

	h3{
	  text-transform: uppercase;
	  font-size: 30px;
	  line-height: 48px;
	  margin-top: 0;
	  margin-bottom: 14px;
	}
  }

  &__price-1{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 23px;

	span{
	  font-size: 18px;
	  font-weight: normal;
	}
  }

  &__price-text{
	padding-bottom: 14px;
  }

  &__price-2{
	font-size: 50px;
	line-height: 40px;
	font-weight: 600;

	span{
	  font-size: 30px;
	  font-weight: normal;
	}
  }

  &__discount{
	color: @nt-red;
	margin-bottom: 10px;
  }

  &__btn{
	margin-top: 16px;
	margin-bottom: 40px;
  }

  &__r-middle {
	background: @nt-blue;
	overflow: hidden;
	padding-top: 19px;
	padding-bottom: 15px;
	padding-left: 38px;
	padding-right: 8px;
	color: @nt-white;
  }



  &__r-bottom {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	padding-top: 33px;
	padding-bottom: 20px;
	min-height: 127px;

	a {
	  display: inline-block;
	  color: @text-color;
	  border-bottom: 1px dotted;

	  &:hover {
		color: @text-color;
		border-color: transparent;
	  }
	}

	span {
	  display: inline-block;
	  width: 100%;
	}
  }
}

.nt-tariff-advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;

  &__li {
	display: inline-block;
	width: 100%;
	padding-left: 54px;
	background: url(../img/ok-2.png) no-repeat top left;
	padding-bottom: 18px;

	&:last-child{
	  padding-bottom: 0;
	}

	ul{
	  margin: 28px 0 11px -22px;
	  padding-left: 20px;
	  list-style: none;
	  border-left: 1px solid @nt-white;

	  li{
		padding-bottom: 17px;
		//max-width: 100px;

		&:last-child{
		  padding-bottom: 0;
		}
	  }
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}