<div class="nt-slider-top">
    <div class="nt-slider-top__top">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
                    data-delay="13000" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="img/slider.jpg" alt="kenburns3" data-bgposition="left top" data-kenburns="on"
                         data-duration="16000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="140"
                         data-bgpositionend="left top">
                    <!-- LAYERS -->
                    <div class="container h-s">

                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
        <div class="nt-slider-top__text">
            <div class="nt-slider-top__text-inner">
                <div class="nt-wrapper__container">
                    <div class="nt-wrapper__row">
                        <div class="nt-wrapper__col-2">
                            <span>Navitron</span> - система работы <br>
                            с удаленным хранилищем информации посредством Веб-бразуера, а также клиентов для мобильных
                            устройств.

                            <a href="#tariff" class="nt-slider-top__btn scroll-btn">Тестовый период</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="What-Navitron" class="nt-slider-top__bottom">
        <div class="nt-wrapper__container">
            <div class="nt-wrapper__row">
                <div class="nt-wrapper__col-full">
                    <p>
                        Гибкая система настройки позволяет организовать общее информационное пространство для доступа
                        рабочей группы и дает возможность работы с данными нескольким пользователям одновременно.
                        Навитрон дает возможность получить доступ к Вашему хранилищу информации с любого устройства, где
                        бы Вы ни находились.
                    </p>
                </div>
            </div>
            <div class="nt-wrapper__row">
                <div class="nt-wrapper__col-2">
                    <span class="nt-slider-top__browser-text">Навитрон. В любом месте. В любое время.</span>
                </div>
                <div class="nt-wrapper__col-2 nt-wrapper__col-2_right">
                    <img src="./img/browser.png" alt=""/>
                </div>
            </div>
        </div>
    </div>

</div>
