/**
 * Main styles
 **/
.nt-slider-top {
  width: 100%;

  .tp-banner {
	position: relative;
	height: 515px !important;
	overflow: hidden;
  }

  .current-sr-slide-visible {
	max-height: 100%;
  }

  &__top{
	position: relative;
  }

  &__text{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;
	display: table;
	table-layout: fixed;
	vertical-align: middle;
	height: 515px;
	background: url(../img/nt-slider-top-bg.png) top center repeat-x;
	background-size: cover;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	color: #0e2e5c;
	padding-top: 30px;

	span{
	  font-weight: normal;
	  color: @nt-white;
	}
  }

  &__text-inner{
	display: table-cell;
	vertical-align: middle;
  }

  &__btn{
	display: block;
	border: 1px solid @nt-white;
	color: @nt-white;
	font-size: 24px;
	line-height: 48px;
	font-weight: 300;
	text-align: center;
	max-width: 232px;
	height: 55px;background-color: rgba(21, 144, 221, 0.502);
	border-radius: 4px;
	margin-top: 24px;


	&:hover,
	&:focus{
	  background: @nt-blue;
	  color: @nt-white;
	}
  }

  &__bottom{
	padding-top: 58px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	span{
	  //color: @nt-blue;
	}

	img{
	  display: inline-block;
	  margin-top: -20px;
	  margin-right: -14px;
	}
  }

  &__browser-text{
	text-transform: uppercase;
	color: @nt-blue;
	display: inline-block;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}