/**
 * Main styles
 **/
.back-top {
  width: 84px;
  height: 84px;
  border: 6px solid #d9d9d9;
  color: #d9d9d9;
  font-size: 64px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  bottom: 20px;
  opacity: .8;
  transition: opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;

  a {
	//display: inline-block;
	display: block;
	color: #d9d9d9;
	width: 72px;
	//height: 72px;

	&:hover {
	  color: #d9d9d9;
	}
  }

  &:hover{
	opacity: 1;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}